//@import "https://fonts.googleapis.com/css?family=Muli:300,300i,400,600,700.css";

//Google Fonts
@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,600,700.css");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");

// Font Variables
$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$muli: "Muli", sans-serif; 

$body-font: $muli;
$header-font: $muli;

// Styles
body {
  font-family: $body-font;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}
