.folders-tree {
  overflow: auto;
  .empty-folder {
    padding-left: 32px;
    line-height: 1;
    font-size: 11px;
  }
  .folder {
    cursor: pointer;
    padding: 5px;
    padding-right: 0;
    font-size: 14px;
    border-bottom: 1px dashed #eee;
    position: relative;
    > span {
      pointer-events: none;
      &.name {
        vertical-align: text-bottom;
      }
    }
    .radio-button {
      position: absolute;
      right: 0;
      height: 25px;
    }
    .icon {
      padding: 5px;
      border-radius: 50%;
      background: #c8c8c8;
      margin-right: 5px;
      pointer-events: none;
      svg {
        fill: #fff;
      }
    }
    .folder {
      padding-left: 20px;
      border-top: 1px dashed #eee;
      margin-top: 5px;
      + .folder {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      &:first-child {
        border-top: none;
      }
    }
  }
}
